{% extends 'base.html.twig' %}

{% block title %}{{ 'User' }}{% endblock %}

{% block logout %}{% endblock %}

{% block welcome %}{% endblock %}

{% block page_header %}{% endblock %}

{% block content %}
    <!-- Single button -->
    <div class="card">
        <div class="card-header bg-white header-elements-inline">
            <h4 class="card-title"><i class="icon-add mr-2"></i> {{ 'User' }}</h4>
            <div class="header-elements">
                <a href="{{ path('user') }}" class="btn btn-labeled btn-labeled-right bg-blue"><i class="icon-list"></i> {{ 'Users List'|upper }}</a>
            </div>
        </div>

        <!-- <div class="card-body">
            Header with basic button. Available in all sizes, colors and options
        </div> -->
    </div>
    <!-- /single button -->

    <!-- 2 columns form -->
    <div class="card">
        <div class="card-header header-elements-inline bg-blue">
            <h5 class="card-title">{{ 'form'|upper }}</h5>
            <!-- <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div> -->
        </div>

        <div class="card-body">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    <fieldset>

                        <div class="form-group">
                            <label>{{ 'lastName' }}: <span class="text-danger">*</span></label>
                            {{ form_widget(form.lastName) }}
                            <span class="text-danger">{{ form_errors(form.lastName) }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ 'firstName' }}: <span class="text-danger">*</span></label>
                            {{ form_widget(form.firstName) }}
                            <span class="text-danger">{{ form_errors(form.firstName) }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ 'username' }}: <span class="text-danger">*</span></label>
                            {{ form_widget(form.username) }}
                            <span class="text-danger">{{ form_errors(form.username) }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ 'email'}}: <span class="text-danger">*</span></label>
                            {{ form_widget(form.email) }}
                            <span class="text-danger">{{ form_errors(form.email) }}</span>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <fieldset>

                        <div class="form-group">
                            <label>{{ 'phone'}}: <span class="text-danger">*</span></label>
                            {{ form_widget(form.phone) }}
                            <span class="text-danger">{{ form_errors(form.phone) }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ 'password'}}: <span class="text-danger">*</span></label>
                            {{ form_widget(form.password) }}
                            <span class="text-danger">{{ form_errors(form.password) }}</span>
                        </div>

                        <div class="form-group">
                            <label>{{ 'profiles'}}: <span class="text-danger">*</span></label>
                            {{ form_widget(form.profiles) }}
                            <span class="text-danger">{{ form_errors(form.profiles) }}</span>
                        </div>

                    </fieldset>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <button class="btn btn-light" type="reset">{{ 'cancel'|upper }}</button>
                <button class="btn btn-primary" type="submit">{{ 'submit'|upper }}<i class="icon-paperplane ml-2"></i></button>
            </div>
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- Theme JS files -->
    <script src="{{ asset('global_assets/js/plugins/forms/selects/select2.min.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/styling/uniform.min.js') }}"></script>

    <script src="{{ asset('global_assets/js/demo_pages/form_layouts.js') }}"></script>
    <script src="{{ asset('global_assets/js/demo_pages/form_select2.js') }}"></script>
    <script src="{{ asset('global_assets/js/plugins/forms/selects/bootstrap_multiselect.js') }}"></script>
    <script src="{{asset('global_assets/js/demo_pages/form_multiselect.js') }}"></script>
    <!-- /theme JS files -->
{% endblock %}